.main-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  table, th, td {
      border: 2px solid black;
      margin: auto;
  }