body{
    background-color: white;
}

#box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 50px;
}

.cards{
    border: black solid 4px;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    background-color: #502F4C;
    color: white;
    width: 260px;
    margin-bottom: 2%;
    padding-bottom: 1.5%;
}

.poster{
    width: 210px;
    border-radius: 6%;
    border: solid white 4px;
}

h4{
    display: flex;
    margin:15px;
}

#icona{
    position: absolute;
    background-color: #502F4C;
    margin: 15px;
    padding: 8px;
    border-radius: 50%;
}